@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap');

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-family: 'Roboto Condensed', sans-serif;

}

a{
    cursor: pointer;
}
.login-area {
    border-radius: 10%;
    background: #11263E;
    padding: 20px;
    padding-top: 60px;
}

.container {
    color: white;
}

.login-logo {
    border-radius: 50%;
    border: none;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    top: 75px;
    height: 150px;
    width: 150px;
    transition: 0.2s ease-out;
    box-shadow: 0px 0px 0px 10px #D5AA41 inset;
}

.login-logo:hover {
    box-shadow: 0px 0px 0px 10px #D5AA41 inset, 0 0 15px #D5AA41;
    height: 160px;
    width: 160px;
    top: 65px;
}

.forgot {
    text-decoration: none;
    color: white;
    transition: 0.2s ease;
}

.forgot:hover {
    color: #D5AA41;
}

.forgot:hover>.forgot2 {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.button:hover>.fa-sign-in {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.button:hover>.fa-plus-circle {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(5deg);
    }

    20% {
        transform: rotate(15deg);
    }

    30% {
        transform: rotate(5deg);
    }

    40% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    60% {
        transform: rotate(-15deg);
    }

    70% {
        transform: rotate(-5deg);
    }

}

.button {
    align-items: center;
    text-align: center;
    font-family: inherit;
    font-weight: bold;
    font-size: 12pt;
    padding: 10px;
    color: white;
    background: #D5AA41;
    border: none;
    letter-spacing: 0.05em;
    border-radius: .35rem;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: 0.3s ease-out;
}

.button:nth-child(2) {
    background: #585858;
}

.form-control,.input-group-text {
    transition: 0.3s ease-out;
}

.button:hover,
.form-control:focus {
    box-shadow: 0 0 12px #D5AA41;
}
.input-group-text{

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group:focus-within{
    box-shadow: 0 0 12px #D5AA41;
    background-color: #D5AA41;
    border-radius: .3rem;
}

.modal-content{
    border-radius: 10px;
}