@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(240, 242, 245);
  font-family: "Roboto Condensed", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: #344767;
}

h1,
.h1 {
  font-size: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {

  h1,
  .h1 {
    font-size: 3rem;
  }
}

h2,
.h2 {
  font-size: calc(1.35rem + 1.2vw);
}

@media (min-width: 1200px) {

  h2,
  .h2 {
    font-size: 2.25rem;
  }
}

h3,
.h3 {
  font-size: calc(1.3125rem + 0.75vw);
}

@media (min-width: 1200px) {

  h3,
  .h3 {
    font-size: 1.875rem;
  }
}

h4,
.h4 {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {

  h4,
  .h4 {
    font-size: 1.5rem;
  }
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

.vw-85 {
  width: 85vw !important;
}

.table-wrap {
  overflow-x: scroll;
}

.table {
  min-width: 1000px !important;
  width: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
}

@media (prefers-reduced-motion: reduce) {
  .table {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.table thead th {
  border: none;
  padding: 30px;
  font-size: 14px;
  color: #000;
  border-bottom: 2px solid #ececec;
  background: #fff;
}

.table tbody tr {
  margin-bottom: 10px;
  cursor: pointer;
  background: #fff;
  border-bottom: 2px solid #ececec;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  .table tbody tr {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.table tbody th,
.table tbody td {
  border: none;
  padding: 30px;
  font-size: 14px;
}

.table tbody td.acc {
  background: #f3f3f3;
  border: none;
}

.table tbody td .fa {
  font-size: 12px;
  color: #28a745;
}

[data-toggle="collapse"] .fa:before {
  content: "\f062";
  font-family: "FontAwesome";
  font-style: normal;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  [data-toggle="collapse"] .fa:before {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f063";
  font-family: "FontAwesome";
  font-style: normal;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  [data-toggle="collapse"].collapsed .fa:before {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

[data-toggle="collapse"] {
  background: #ececec !important;
}

[data-toggle="collapse"].collapsed {
  background: #fff !important;
}

[data-toggle="collapse"].collapsed:hover {
  background: #ececec !important;
  border-bottom: 2px solid #ececec;
}