/* .reddb {
    background-image: linear-gradient(to bottom right, rgba(220, 0, 0, 1), rgba(220, 0, 0, 1), rgba(220, 0, 0, 0.8), rgba(218, 85, 85, 0.8), rgba(255, 156, 156, 0.8));
}

.bluedb {
    background-image: linear-gradient(to bottom right, rgb(0, 99, 228), rgb(0, 99, 228), rgba(0, 99, 228, 0.8), rgba(109, 160, 226, 0.8), rgba(157, 196, 255, 0.8));
}

.greendb {
    background-image: linear-gradient(to bottom right, rgba(21, 150, 21, 1), rgb(29, 175, 29), rgba(25, 179, 25, 0.8), rgba(88, 173, 88, 0.8), rgba(119, 204, 96, 0.8));
} */

.card {
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 1rem;
    color: black;
    box-shadow: 5px 5px 5px 1px rgba(153, 153, 153, 0.080)
}

.container {
    max-width: 100% !important;
}

.round {
    border-radius: 50%;
    border: 20px solid white;
    aspect-ratio: 1;
}

.cardSag {
    text-align: right;
}

.squareTop, .squareTopChart {
    position: relative;
    top: -65px;
    height: 60px;
    width: 60px;
    border-radius: 1rem;
    text-align: center;
    color: white;
    font-size: 20pt;
}
.squareTopChart{
    top: -75px;
}

.blue {
    background: rgb(14, 0, 255);
    background: -moz-linear-gradient(325deg, rgba(14, 0, 255, 1) 0%, rgba(95, 175, 191, 1) 100%);
    background: -webkit-linear-gradient(325deg, rgba(14, 0, 255, 1) 0%, rgba(95, 175, 191, 1) 100%);
    background: linear-gradient(325deg, rgba(14, 0, 255, 1) 0%, rgba(95, 175, 191, 1) 100%);
}

.red {
    background: rgb(200, 0, 0);
    background: -moz-linear-gradient(325deg, rgba(200, 0, 0, 1) 0%, rgba(255, 178, 178, 1) 100%);
    background: -webkit-linear-gradient(325deg, rgba(200, 0, 0, 1) 0%, rgba(255, 178, 178, 1) 100%);
    background: linear-gradient(325deg, rgba(200, 0, 0, 1) 0%, rgba(255, 178, 178, 1) 100%);
}

.green {
    background: rgb(15, 150, 0);
    background: -moz-linear-gradient(325deg, rgba(15, 150, 0, 1) 0%, rgba(152, 221, 161, 1) 100%);
    background: -webkit-linear-gradient(325deg, rgba(15, 150, 0, 1) 0%, rgba(152, 221, 161, 1) 100%);
    background: linear-gradient(325deg, rgba(15, 150, 0, 1) 0%, rgba(152, 221, 161, 1) 100%);
}

.orange {
    background: rgb(255, 113, 18);
    background: -moz-linear-gradient(325deg, rgb(255, 113, 18) 0%, rgb(255, 191, 138) 100%);
    background: -webkit-linear-gradient(325deg, rgb(255, 113, 18) 0%, rgb(255, 191, 138) 100%);
    background: linear-gradient(325deg, rgb(255, 113, 18) 0%, rgb(255, 191, 138) 100%);
}

.purple {
    background: rgb(162, 0, 255);
    background: -moz-linear-gradient(325deg, rgb(162, 0, 255) 0%, rgb(231, 180, 255) 100%);
    background: -webkit-linear-gradient(325deg, rgb(162, 0, 255) 0%, rgb(231, 180, 255) 100%);
    background: linear-gradient(325deg, rgb(162, 0, 255) 0%, rgb(231, 180, 255) 100%);
}

.gray {
    background: rgb(77, 77, 77);
    background: -moz-linear-gradient(325deg, rgb(77, 77, 77) 0%, rgb(230, 230, 230) 100%);
    background: -webkit-linear-gradient(325deg, rgb(77, 77, 77) 0%, rgb(230, 230, 230) 100%);
    background: linear-gradient(325deg, rgb(77, 77, 77) 0%, rgb(230, 230, 230) 100%);
}

.yellow {
    background: rgb(223, 208, 0);
    background: -moz-linear-gradient(325deg, rgb(223, 208, 0) 0%, rgb(255, 255, 180) 100%);
    background: -webkit-linear-gradient(325deg, rgb(223, 208, 0) 0%, rgb(255, 255, 180) 100%);
    background: linear-gradient(325deg, rgb(223, 208, 0) 0%, rgb(255, 255, 180) 100%);
}

.brown {
    background: rgb(102, 66, 41);
    background: -moz-linear-gradient(325deg, rgb(102, 66, 41) 0%, rgb(255, 217, 168) 100%);
    background: -webkit-linear-gradient(325deg, rgb(102, 66, 41) 0%, rgb(255, 217, 168) 100%);
    background: linear-gradient(325deg, rgb(102, 66, 41) 0%, rgb(255, 217, 168) 100%);
}

.cardTitle {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
    font-size: 15pt;
}

.cardText {
    font-size: 14pt;
}

.icons {
    padding-top: 10px;
}

.horizontalLine {
    flex-shrink: 0;
    background-color: transparent;
    width: 100% !important;
    height: 1px !important;
    border: none;
    padding: 0 ! important;
    margin: 0 !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    opacity: 0.4;
    background-image: linear-gradient(to right,
            rgba(52, 71, 103, 0),
            rgba(52, 71, 103, 0.6),
            rgba(52, 71, 103, 0)) !important;
}

.info {
    text-align: center;
    width: 100% !important;
    color: rgba(0, 0, 0, 1);
    font-weight: lighter;
}

.chart {
    height: 30vh;
}

.chartCard {
    height: calc(30vh + 70px)
}