.main {
  flex-direction: row;
  display: flex;
}

.leftPanel {
  position: fixed;
  top: 0;
  left: 0;
  height: 95vh;
  width: 250px;
  margin: 1rem;
  border-radius: 0.75rem;
  /*
  background: rgb(2, 0, 36);
  background: linear-gradient(
    256deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(17, 38, 62, 1) 56%,
    rgba(13, 83, 97, 1) 100%
  );*/
  padding: 1rem;
  background-color: white;
  color: black;
  /*box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;*/
  display: flex;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
  margin-bottom: inherit;
  transform: translateX(0px);
  transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,
    background-color 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}

.rightPanel {
  margin-left: 290px;
  margin-right: 1rem;
  margin-top: 1rem;
  width: 100% !important;
}
@media only screen and (max-width: 600px) {
  .rightPanel {
    margin-left: 1rem;
  }
}
