@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap");

.body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../public/login/background.jpg);
  background-color: #F0F2F5;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  font-family: "Roboto Condensed", sans-serif;
}

.loginArea {
  border-radius: 10%;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 100px 2px #202020;
  backdrop-filter: blur(5px);
  padding: 20px;
  padding-top: 60px;
}

.containerText {
  color: white;
}

.loginLogo {
  border-radius: 50%;
  border: none;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  position: relative;
  top: 75px;
  height: 150px;
  width: 150px;
  transition: 0.2s ease-out;
  box-shadow: 0px 0px 0px 15px #d5aa41 inset;
}

.loginLogo:hover {
  box-shadow: 0px 0px 0px 10px #d5aa41 inset, 0 0 20px 5px #d5aa41;
  height: 160px;
  width: 160px;
  top: 60px;
}

.forgot {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.2s ease-out;
}

.forgot:hover {
  color: #d5aa41 !important;
  text-shadow: 0px 0px 5px black;
}

.forgot:hover>.forgot2 {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.button:hover>.faSignIn {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.button:hover>.faPlusCircle {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.button:hover>.faPaperPlane {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(5deg);
  }

  20% {
    transform: rotate(15deg);
  }

  30% {
    transform: rotate(5deg);
  }

  40% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  60% {
    transform: rotate(-15deg);
  }

  70% {
    transform: rotate(-5deg);
  }
}

.button {
  height: 50px;
  position: relative;
  align-items: center;
  text-align: center;
  font-family: inherit;
  font-weight: bold;
  font-size: 12pt;
  padding: 10px;
  color: white;
  background: #11263E;
  border: none;
  letter-spacing: 0.05em;
  border-radius: 0.35rem;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  top:0;
  transition: 0.2s ease;
}

.button:last-of-type {
  background: #11263E;
}
.button:nth-child(2){
  background: #505050;
}

.formControl,
.inputGroupText {
  transition: 0.3s ease-out;
  height: 50px !important;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}

.button:hover,
.formControl:focus {
  box-shadow: 0 0 10px 3px #11263E;
}

.button:hover{
  top:-3px !important; 
}
.formControl:focus {
  background-color: rgba(255, 255, 255, 0.6) !important;

}

.inputGroupText {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(70, 70, 70, 0.4);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s ease-out;
}

input:checked+.slider {
  background-color: #d5aa41;
}

input:focus+.slider {
  box-shadow: 0 0 1px #d5aa41;
}

input:checked+.slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}