.cardBackground {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  min-height: 18.75rem;
  opacity: 1;
  color: rgb(52, 71, 103);
  box-shadow: none;
  background: linear-gradient(
        195deg,
        rgba(73, 163, 241, 0.6),
        rgba(26, 115, 232, 0.6)
      )
      50% center / cover,
    url("https://demos.creative-tim.com/material-dashboard-2-pro-react-ts/static/media/bg-profile.af1219a742e09fc7b612.jpeg")
      transparent;
  border-radius: 0.75rem;
  background-position: 50% center;
  overflow: hidden;
}
.card {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: flex;
  flex-direction: column;
  min-width: 0px;
  overflow-wrap: break-word;
  background-color: rgb(255, 255, 255);
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.375rem -0.0625rem,
    rgba(0, 0, 0, 0.06) 0rem 0.125rem 0.25rem -0.0625rem;
  overflow: visible;
  position: relative;
  margin-top: -64px;
  margin-left: 24px;
  margin-right: 24px;
  padding: 16px;
}
.cardProfileImage {
  width: 100%;
  text-align: center;
  object-fit: cover;
  color: transparent;
  text-indent: 10000px;
  height: auto;
}
.profileText {
  margin: 0px;
  font-size: 1.25rem;
  line-height: 1.375;
  letter-spacing: 0em;
  opacity: 1;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
  color: rgb(52, 71, 103);
  font-weight: 600;
}
.profileSubText {
  margin: 0px;
  letter-spacing: 0.05em;
  opacity: 1;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
  color: rgb(123, 128, 154);
  font-weight: 400;
}
.verticalLine {
  flex-shrink: 0;
  border-top: 0px solid rgba(0, 0, 0, 0.12);
  border-left: 0px solid rgba(0, 0, 0, 0.12);
  border-bottom: none;
  opacity: 0.25;
  background-color: transparent;
  width: 0.0625rem;
  height: 100%;
  margin: 0px 8px 0px -16px;
  border-right: none;
  background-image: linear-gradient(
    rgba(52, 71, 103, 0),
    rgba(52, 71, 103, 0.4),
    rgba(52, 71, 103, 0)
  ) !important;
  display: flex;
}
