.listMenu {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: flex;
  flex-direction: column;
  min-width: 0px;
  overflow-wrap: break-word;
  background-color: rgb(255, 255, 255);
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125);
  box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.375rem -0.0625rem,
    rgba(0, 0, 0, 0.06) 0rem 0.125rem 0.25rem -0.0625rem !important;
  overflow: visible;
  border-radius: 0.75rem !important;
  position: sticky;
  top: 7rem;
}

.profileImage {
  width: 100%;
  text-align: center;
  object-fit: cover;
  color: transparent;
  text-indent: 10000px;
  height: auto;
}

.listItem {
  padding-top: 0px;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
}

.listItemText {
  margin-right: 12px;
  line-height: 1;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif !important;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
}

.card {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  overflow-wrap: break-word;
  background-color: rgb(255, 255, 255);
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.375rem -0.0625rem,
    rgba(0, 0, 0, 0.06) 0rem 0.125rem 0.25rem -0.0625rem;
  overflow: visible;
}

.h5 {
  margin: 0px;
  font-size: 1.25rem;
  line-height: 1.375;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif !important;
  letter-spacing: 0em;
  opacity: 1;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
  color: rgb(52, 71, 103);
  font-weight: 600;
}

.span {
  margin: 0px;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.02857em;
  opacity: 1;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
  color: rgb(123, 128, 154);
  font-weight: 600;
}

.form {
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none;
}

.listItem:hover {
  background-color: rgba(206, 212, 218, 0.2) !important;
}

.listItem:active {
  background-color: rgba(206, 212, 218, 0.8) !important;
}

.linkItem {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.itemPanel {
  opacity: 1;
  background: 0 0;
  color: #344767;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 0.09375rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  box-shadow: none;
  transition: all 100ms ease-in;
}

.itemPanel:hover,
.innerItemList:hover {
  background-color: rgba(206, 212, 218, 0.2);
}

.itemPanel:active,
.innerItemList:active {
  background-color: rgba(206, 212, 218, 0.8);
}

.itemProfile {
  flex-shrink: 0;
  min-width: 2rem;
  min-height: 2rem;
  color: #344767;
  border-radius: 0.375rem;
  display: grid;
  place-items: center;
  transition: margin 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.itemIcon {
  flex-shrink: 0;
  min-width: 1rem;
  min-height: 1rem;
  color: rgb(52, 71, 103) !important;
  border-radius: 0.375rem;
  display: grid;
  place-items: center;
  transition: margin 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.itemBottom {
  flex: 1 1 auto;
  min-width: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0.625rem;
  opacity: 1;
  max-width: 100%;
  margin-left: 0.625rem;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    margin 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.itemText {
  font-weight: 500;
  font-size: 0.9rem;
}
