.mainContainer {
  background-color: #fff;
  width: 100% !important;
  max-width: 100% !important;
  border-radius: 0.75rem;
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: justify;
  overflow: auto;
  animation: fadeInAnimation ease-out 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin-bottom: 1rem;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.mainContainer::-webkit-scrollbar {
  display: none;
}

.baslik {
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 12pt;
  word-wrap: break-word;
  font-style: italic;
}

.rows,
.itirazBtn,
.talepBtn {
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  word-wrap: break-word;
}

.rows {
  font-size: 11pt;
}

.itirazBtn,
.talepBtn {
  text-align: center;
}

.verticalLine {
  flex-shrink: 0;
  background-color: transparent;
  width: 1px !important;
  height: 50px !important;
  border: none;
  padding: 0 !important;
  margin: 0 !important;
  opacity: 0.5;
  background-image: linear-gradient(to top,
      rgba(52, 71, 103, 0),
      rgba(52, 71, 103, 0.6),
      rgba(52, 71, 103, 0)) !important;
}

.mycol {
  padding: 0 !important;
  flex: 0 !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.horizontalLine,
.horizontalLine2,
.horizontalLine3 {
  flex-shrink: 0;
  background-color: transparent;
  width: 100% !important;
  height: 1px !important;
  border: none;
  padding: 0 !important;
  margin: 0 !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  opacity: 0.4;
  background-image: linear-gradient(to right,
      rgba(52, 71, 103, 0),
      rgba(52, 71, 103, 0.6),
      rgba(52, 71, 103, 0)) !important;
}

.horizontalLine2 {
  height: 2.5px !important;
  margin-top: 0.3rem !important;
  margin-bottom: 1rem !important;
  opacity: 0.8;
  background-image: linear-gradient(to right,
      rgba(52, 71, 103, 0.1),
      rgba(52, 71, 103, 0.6),
      rgba(52, 71, 103, 0.1)) !important;
}

.horizontalLine3 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  opacity: 0.5;
  background-image: linear-gradient(to right,
      rgba(52, 71, 103, 0.1),
      rgba(52, 71, 103, 0.6),
      rgba(52, 71, 103, 0.1)) !important;
}

.row {
  transition: 0.2s ease-out;
  border-radius: 0.75rem;
}

.btn,
.btn2 {
  border: none;
  background: none;
  border-radius: 50%;
  transition: 0.3s ease-out;
  font-size: 25px;
  width: 35px;
  height: 35px;
  padding: 0;
}

.btn2 {
  font-size: 45px;
  transition: 0.1s ease-out;
}

.btn2:hover>.addElement {
  color: #d5aa42 !important;
}

.btn:hover {
  background: #d32f2f;
}

.exclamationElement,
.addElement {
  color: #7b809a;
  transition: 0.3s ease-out;
}

.btn:hover>.exclamationElement {
  color: white;
}

.itirazModal {
  margin-bottom: 0.5rem;
}

.button {
  height: 50px;
  position: relative;
  align-items: center;
  text-align: center;
  font-family: inherit;
  font-weight: bold;
  font-size: 12pt;
  padding: 10px;
  color: white;
  background: #11263e !important;
  border: none;
  letter-spacing: 0.05em;
  border-radius: 0.35rem;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  top: 0;
  transition: 0.15s ease;
}

.button:hover {
  box-shadow: 0 0 5px 3px #11263e;
}

@keyframes shake {
  0% {
    transform: translateX(2px);
  }

  20% {
    transform: translateX(-2px);
  }

  40% {
    transform: translateX(2px);
  }

  60% {
    transform: translateX(-2px);
  }

  80% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(-2px);
  }
}

.button:hover>.exclamationElement {
  animation: shake 2s;
  animation-iteration-count: 1;
}

.talepBtn {
  text-align: right;
  align-items: end;
  margin: 0px 20px 0px auto;
}

.donem,
.dersler {
  text-align: center !important;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12.5pt;
  cursor: pointer;
  transition: 0.2s ease;
  border-radius: 0.5rem;
  margin-bottom: 0;
}

.donem:hover,
.dersler:hover {
  background-color: #f5f6f8 !important;
}

.donem:active,
.dersler:active {
  background-color: #d3d1ce !important;
}

.grade1 {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100;
  text-align: left;
}

.grade2 {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100;
  text-align: right;
}

.info {
  padding: 0.5rem;
  border: 1px solid #d1d6dd;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.dersler {
  font-weight: 400;
}

.lecturer {
  border: 2px solid #e1e3e6;
  border-radius: 0.75rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.innerLecturer {
  padding-right: 2rem;
  padding-top: 1rem;
  font-weight: bold;
  color: #233046;
}

.innerTextLecturer {
  text-align: justify;
  font-weight: lighter;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.3rem;
  max-height: 2.6rem;
  margin-bottom: 1rem;
}

.innerReplyLecturer {
  text-align: right;
}

.removable {
  cursor: pointer;
}