@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap");

.sideBar {
  box-shadow: rgba(0, 0, 0, 0.05) 0 1.25rem 1.6875rem 0;
  margin-bottom: inherit;
  left: 0;
  width: 250px;
  transform: translateX(0);
  transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0s,
    background-color 225ms cubic-bezier(0.4, 0, 0.6, 1) 0s;
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  box-shadow: none;
  overflow-y: auto;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  z-index: 1200;
  position: fixed;
  top: 0;
  outline: 0;
  left: 0;
  width: 15.625rem;
  background-color: #fff;
  height: calc(100vh - 2rem);
  margin: 1rem;
  border-radius: 0.75rem;
  border: none;
}

.sideBar::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.logoPanel {
  padding: 24px 32px 8px;
  text-align: center;
  opacity: 1;
  background: 0 0;
  color: #344767;
  box-shadow: none;
}

.logoImage {
  width: 8rem;
  opacity: 1;
  background: 0 0;
  color: #344767;
  border-radius: 50%;
  box-shadow: none;
  transition: 0.15s ease-out;
  box-shadow: 0px 0px 0px 15px #d5aa41 inset;
  margin-bottom: 0.5rem;
}

.logoImage:hover {
  box-shadow: 0px 0px 0px 10px #d5aa41 inset, 0 0 25px 3px #d5aa41;
}

.seperator {
  flex-shrink: 0;
  border-top: 0 solid rgba(0, 0, 0, 0.12);
  border-right: 0px solid rgba(0, 0, 0, 0.12);
  border-left: 0 solid rgba(0, 0, 0, 0.12);
  background-color: transparent;
  height: 0.0625rem;
  margin: 1rem 0;
  border-bottom: none;
  opacity: 0.25;
  background-image: linear-gradient(
    to right,
    rgba(52, 71, 103, 0),
    rgba(52, 71, 103, 0.4),
    rgba(52, 71, 103, 0)
  ) !important;
}

.linkList {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.linkItem {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.itemPanel {
  opacity: 1;
  background: 0 0;
  color: #344767;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 0.09375rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  box-shadow: none;
  transition: all 100ms ease-in;
}

.itemPanel:hover,
.innerItemList:hover {
  background-color: rgba(206, 212, 218, 0.2);
}

.itemPanel:active,
.innerItemList:active {
  background-color: rgba(206, 212, 218, 0.8);
}

.itemProfile {
  flex-shrink: 0;
  min-width: 2rem;
  min-height: 2rem;
  color: #344767;
  border-radius: 0.375rem;
  display: grid;
  place-items: center;
  transition: margin 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.circularAvatar {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  font-family: Roboto Condensed, Helvetica, Arial, sans-serif;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
  transition: all 0.2s ease-in-out 0s;
  background: 0 0;
  color: #fff;
  font-weight: 400;
  width: 2.25rem;
  height: 2.25rem;
  font-size: 0.875rem;
}

.circularAvatarImage {
  width: 100%;
  text-align: center;
  object-fit: cover;
  color: transparent;
  text-indent: 10000px;
  height: auto;
}

.itemBottom {
  flex: 1 1 auto;
  min-width: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0.625rem;
  opacity: 1;
  max-width: 100%;
  margin-left: 0.625rem;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    margin 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.itemText {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 0;
}

.itemExpand {
  user-select: none;
  width: 1em;
  height: 1em;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  flex-shrink: 0;
  font-weight: 700;
  margin-bottom: -0.0625rem;
  transform: rotate(0);
  color: #344767;

  font-size: 1.125rem !important;
  display: block !important;
  font-family: "Material Icons Round";
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.itemEntered {
  min-height: 0;
  display: block;
  height: auto;
  overflow: visible;
}

.itemEnteredVertical {
  display: flex;
  width: 100%;
}

.innerItem {
  list-style: none;
  margin: 2.4px 0;
  position: relative;
  padding: 0 16px;
}

.innerItemList {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  box-sizing: border-box;
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 24px;
  margin-top: 3px;
  margin-bottom: 2.4px;
  width: 100%;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.innerItemContainer {
  opacity: 1;
  background: 0 0;
  color: #344767;
  box-shadow: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 0.75rem 1rem;
  margin-left: 1.125rem;
  user-select: none;
  position: relative;
}

.innerItemContainer::before {
  color: #344767;
  font-weight: 400;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -0.9375rem;
  opacity: 1;
  border-radius: 50%;
  font-size: 0.875rem;
}

#profilim::before {
  content: "B";
}

#ayarlar::before {
  content: "A";
}

#cikis::before {
  content: "Ç";
}

#notbilgisi::before {
  content: "N";
}

#dersprogrami::before {
  content: "D";
}

#notkarti::before {
  content: "N";
}

#derslistesi::before {
  content: "D";
}

#mufredat::before {
  content: "M";
}

#odev::before {
  content: "Ö";
}

#sinav::before {
  content: "S";
}

#belge::before {
  content: "B";
}

.innerItemTextContainer {
  flex: 1 1 auto;
  min-width: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.innerItemText {
  margin: 0;
  font-family: Roboto Condensed, Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: 0.00938em;
  display: block;
  color: #344767;
  font-weight: 300;
  font-size: 0.875rem;
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.none {
  display: none;
}

.pages {
  margin: 16px 0px 8px 8px;
  font-family: Roboto Condensed, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1.25;
  letter-spacing: 0.03333em;
  display: block;
  padding-left: 24px;
  opacity: 1;
  text-transform: uppercase;
  vertical-align: unset;
  text-decoration: none;
  color: rgb(52, 71, 103);
  font-weight: 700;
}

.itemIcon {
  flex-shrink: 0;
  min-width: 1rem;
  min-height: 1rem;
  color: rgb(52, 71, 103) !important;
  border-radius: 0.375rem;
  display: grid;
  place-items: center;
  transition: margin 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
